{% extends 'base.html' %}
{% block content %}
<div class="row card shadow ">
   <div class="col-sm-12 m-3">
      <div class="card">
         <div class="card-body">
            <form method="post" action="{% url 'update_grade' %}" >
               {% csrf_token %}
               <div class="col-12">
                  <h5 class="form-title"><span>Edit Grade</span></h5>
               </div>

               {% include 'includes/message.html' %}
               <div class="form-row">
               <div class="col-sm-6">
                  <div class="form-group">
                     <label>Grade</label>
                     <input type="text" class="form-control bg-primary" name="name" value="{{grade.name}}" required>
                     <input type="text" class="form-control" name="grade_id" value="{{grade.id}}" hidden>
                  </div>
               </div>

               <div class="col-sm-6">
                  <div class="form-group">
                     <label>Salary</label>
                     <input type="text" class="form-control bg-primary" name="salary" value="{{grade.salary}}" required>
                     <input type="text" class="form-control" name="grade_id" value="{{grade.id}}" hidden>
                  </div>
               </div>
               <div class="col-sm-12">
                  <label>Status :</label>
                     <select class="form-control bg-primary" name="status" required>
                        <option>Active</option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                     </select>
               </div> 
               <div class="col-12">
                  <button type="submit" class="col-sm-12 btn btn-primary my-3">Edit Grade</button>
               </div></div>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock %}	
