{% extends 'base.html' %}
{% block content %}
<div class="page-header">
   <marquee bgcolor=green direction=scroll><font size=2 color=yellow>Apna Bazar</font></marquee>
   <marquee bgcolor=white direction=right to left><font size=2 color=blue>Apna Bazar</font></marquee>
   <marquee bgcolor=orange direction=left to right><font size=2 color=blue>Apna Bazar</font></marquee>
    

    <div class="row">
       <div class="col-sm-12">
          <h3 class="page-title">Welcome Admin!</h3>
          <ul class="breadcrumb">
             <li class="breadcrumb-item active">Dashboard</li>
          </ul>
       </div>
    </div>
 </div>
 <div class="row">
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
       <div class="card bg-one w-100">
          <div class="card-body">
             <div class="db-widgets d-flex justify-content-between align-items-center">
                <div class="db-icon">
                   <i class="fas fa-user-graduate"></i>
                </div>
                <div class="db-info">
                   <h3>{{mgmt_count}}</h3>
                   <h6>Management</h6>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
       <div class="card bg-two w-100">
          <div class="card-body">
             <div class="db-widgets d-flex justify-content-between align-items-center">
                <div class="db-icon">
                   <i class="fas fa-chalkboard-teacher"></i>
                </div>
                <div class="db-info">
                   <h3>{{staff_count}}</h3>
                   <h6>Staff</h6>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
       <div class="card bg-three w-100">
          <div class="card-body">
             <div class="db-widgets d-flex justify-content-between align-items-center">
                <div class="db-icon">
                   <i class="fas fa-graduation-cap"></i>
                </div>
                <div class="db-info">
                   <h3>{{supplier_count}}</h3>
                   <h6>Supplier</h6>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
       <div class="card bg-four w-100">
          <div class="card-body">
             <div class="db-widgets d-flex justify-content-between align-items-center">
                <div class="db-icon">
                   <i class="fas fa-book"></i>
                </div>
                <div class="db-info">
                   <h3>{{product_count}}</h3>
                   <h6>Products</h6>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div class="row">
    <div class="col-md-12 col-lg-6">
       <div class="card card-chart">
          <div class="card-header">
             <div class="row align-items-center">
                <div class="col-6">
                   <h5 class="card-title">All Data</h5>
                </div>            
             </div>
          </div>
          <div class="card-body">
             <div id="All_details"></div>
          </div>
       </div>
    </div>
    <div class="col-md-12 col-lg-6">
       <div class="card card-chart">
          <div class="card-header">
             <div class="row align-items-center">
                <div class="col-6">
                   <h5 class="card-title">Number of Managements</h5>
                </div>                
             </div>
          </div>
          <div class="card-body">
             <div id="stud_gender"></div>
          </div>
       </div>
    </div>
 </div>
 <div class="row">
   <div class="col-md-12 col-lg-6">
      <div class="card card-chart">
         <div class="card-header">
            <div class="row align-items-center">
               <div class="col-6">
                  <h5 class="card-title">Management And Staff</h5>
               </div>
               
            </div>
         </div>
         <div class="card-body">
            <div id="stud_staff"></div>
         </div>
      </div>
   </div>
   <div class="col-md-12 col-lg-6">
      <div class="card card-chart">
         <div class="card-header">
            <div class="row align-items-center">
               <div class="col-6">
                  <h5 class="card-title">Suppliers And Products</h5>
               </div>
               
            </div>
         </div>
         <div class="card-body">
            <div id="course_subject"></div>
         </div>
      </div>
   </div>
</div>
 


    
 <div class="row">
    <div class="col-xl-3 col-sm-6 col-12">
       <div class="card flex-fill fb sm-box">
          <i class="fab fa-facebook"></i>
          <h6>50,095</h6>
          <p>Likes</p>
       </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
       <div class="card flex-fill twitter sm-box">
          <i class="fab fa-twitter"></i>
          <h6>48,596</h6>
          <p>Follows</p>
       </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
       <div class="card flex-fill insta sm-box">
          <i class="fab fa-instagram"></i>
          <h6>52,085</h6>
          <p>Follows</p>
       </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
       <div class="card flex-fill linkedin sm-box">
          <i class="fab fa-linkedin-in"></i>
          <h6>69,050</h6>
          <p>Follows</p>
       </div>
    </div>
 </div>
</div> 

{% include 'includes/chart.html' %}
{% endblock %}